/* RSCSS Methodology
see more: https://rscss.io/index.html */

@import '../../assets/styles/project-Ñolors.scss';


.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: $bg-page;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;

  .rs-panel-heading {
		font-size: 24px;
    color: $blue-500;
    margin-bottom: 10px;
  }

  .toolbar > .button {
    width: 100%;
  }


}